---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 14px; // change to whatever

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 18px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 20px; // change to whatever
  }
}

body {
  color: #000;
}

.initial-content {
  margin-top: -60px; 
}

.page__hero--overlay {
  width: 100%;
  top: 0;
}

#main {
  margin-top: 60px;
}

#site-nav {
  background-color: transparent;
}

.masthead {
  border-bottom: none;
  width: 100%;
  font-size: 16px;
}

.greedy-nav a, .greedy-nav a:link, .greedy-nav a:visited, .greedy-nav a:hover, .greedy-nav a:active {
  color: #fff;
}

.greedy-nav button, .greedy-nav .visible-links a:before {
  background-color: transparent;
}

.greedy-nav .hidden-links a {
  background-color: #303030;  
}

.navicon, .navicon::before, .navicon::after {
  background-color: #3371E3;
}

.navicon:hover, .navicon::before:hover, .navicon::after:hover {
  background-color: #ffffff;
}

.page__footer {
  color: #aaa;
  background-color: #303030;
  background-image: url("/assets/images/texture.png");
}

a, a:visited, a:hover {
  color: #3371E3;
  text-decoration: none;
}

.page__title {
  font-weight: normal;
}

.layout--splash-home .page__hero--overlay {
  text-align: center;
}

.page__hero--overlay {
  padding: 5em 0 0;
  font-size: 0.8em;
}

layout--splash-home .page__lead {
  text-align: center;
}

.page__lead {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 1em;
}

.page__content a:not(.btn):not(#goog-wm-sb):hover {
  text-decoration: none;
}
